.footer-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 8px 0;
  font-size: 12px;
  position: fixed;
  left: 0;
  bottom: 0px;
  width: 100%;
  background-color: #fff;
  color: #e0e0e0;
  font-weight: 700;
  text-align: center;
}